faster_whisper==1.2.1
funasr==1.2.7
librosa==0.11.0
monotonic_align==1.0.0
numpy==2.4.6
openai==2.41.0
openai_whisper==20250625
parselmouth==1.1.1
scipy==1.17.1
soundfile==0.13.1
torch==2.7.1+cu126
transformers==4.52.4
webrtcvad==2.0.10
